* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


a,
img,
button,
input,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none
}

body {
  background: radial-gradient(#eee, #668);
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  position: relative;
}

/* !______________каркас_______________________ */
.wrapper {
  width: 80vw;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
}

.header {
  width: 100%;
  height: 15%;
  border: 3px solid #b5aab6;
  border-radius: 15px;
  text-shadow: 0 2px 2px #666;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: inset .2rem .2rem .5rem #777,
    inset -.2rem -.2rem .5rem #b5aab6,
    0 2px 2px #666;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__clock {
  width: 150px;
  height: 70%;
  border-radius: 15px;
  font-size: 24px;
  box-shadow: 0 2px 2px #444;
  text-shadow: 0 2px 2px #666;
  border-radius: 15px;
  border: 2px solid #b5aab6;
  padding: 15px;
  background: linear-gradient(#b5aab6, #dcbcc5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__board {
  display: flex;
  gap: 30px;
  height: 80%;
  width: 100%;
  border-radius: 15px;
  text-shadow: 0 2px 2px #666;
  border-radius: 15px;
  border: 3px solid #b5aab6;
  padding: 20px;
  box-shadow: inset .2rem .2rem .5rem #777,
    inset -.2rem -.2rem .5rem #b5aab6,
    0 2px 2px #666;
}

.column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: calc(100% / 3);
  border-radius: 15px;
  text-shadow: 0 2px 2px #666;
  gap: 15px;
}

.column__panel_wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(#b5aab6, #dcbcc5);
  border-radius: 15px;
  box-shadow: 0 2px 2px #444;
  border: 2px solid #b5aab6;
  padding: 0 0;
  overflow: hidden;
}

.column__panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  padding: 15px;
}

.column__panel::-webkit-scrollbar {
  width: 15px;
}

.column__panel::-webkit-scrollbar-track {
  background: #b5aab6;
}

.column__panel::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #ffffff
}

.column__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 1.2em;
}

.column__header span {
  display: block;
  height: 100%;
  font-weight: bold;
}

/* !  _______конец каркаса _______________________*/

.module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: 1s;
}

.module__background {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 5;
}

/* !модальное окно для ввода и редакции данных */
.module__entry.open {
  display: block;
  transition: 1s;
  opacity: 1;
}

.entry__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40em;
  height: 20em;
  display: grid;
  gap: 1em;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  background: linear-gradient(#b5aab6, #dcbcc5);
  /* background: linear-gradient(#86eb65, #8ec460); */
  /* background: linear-gradient(#aaa, #777); */
  border-radius: 15px;
  box-shadow: 0 2px 2px #444;
  text-shadow: 0 2px 2px #666;
  padding: 1em;
  z-index: 10;
}

.entry__content,
.entry__title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #ffffff;
  /* background-color: #86eb65; */
  /* background-color: #dcbcc5; */
  background-color: #aaa;
  border-radius: 0.5em;
  padding: 0.5em;
  /* box-shadow: inset .2rem .2rem .5rem #777, */
  /* inset -.2rem -.2rem .5rem #8ec460; */
  box-shadow: inset .2rem .2rem .5rem #777,
    inset -.2rem -.2rem .5rem #b5aab6;
  /* box-shadow: inset .2rem .2rem .5rem #777,
        inset -.2rem -.2rem .5rem #aaa; */
transition: 0.3s;
border: 2px solid transparent;
}

@keyframes blink {
  50% {
    border-color: #A64E4E;
  }
}

.entry__content.error,
.entry__title.error,
.user__select.error {
  /* border: 3px solid #A64E4E; */
  animation: blink .9s step-end infinite alternate;
  
}

.entry__title:focus,
.entry__content:focus {
  box-shadow: .3rem .3rem .8rem #777,
    -.2rem -.2rem .5rem #aaa;
  border: none;
}

.entry__content {
  grid-column: span 3;
}

.button {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-radius: 0.5em;
  background: linear-gradient(#aaa, #777);
  /* background: linear-gradient(#86eb65, #8ec460); */
  /* background: linear-gradient(#b5aab6, #dcbcc5); */
  color: #444;
  font-weight: 600;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #ffffff;
}

.button:hover {
  box-shadow: .3rem .3rem .6rem #E4EBF5,
    -.2rem -.2rem .5rem #ffffff;
}

/* ! _____________________________________ */

.entry__user {
  position: relative;
  transition: 0.3s;
}

.user__select_label {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.user__select_style {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: solid #444;
  border-radius: 3px;
  border-width: 0 3px 3px 0;
  transform: translateY(-50%);
  transform: rotate(45deg);
  top: 25%;
  right: 15px;
  z-index: 12;
  cursor: pointer;
  transition: 0.3s;
}

.user__select_style.open {
  border-width: 3px 0 0 3px;
  transition: 0.3s;
}


.user__select {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  position: absolute;
  display: block;
  padding: 10px;
  width: 100%;
  height: 50px;
  border-radius: 0.5em;
  /* background: #86eb65; */
  /* background: #dcbcc5; */
  background: #aaa;
  box-shadow: 0 2px 2px #444;
  border: 2px solid transparent;
}

.user__list {
  display: none;
  top: 49px;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  max-height: 150px;
  /* background: #86eb65; */
  /* background: #dcbcc5; */
  background: #aaa;
  box-shadow: 0 2px 2px #444;
  transition: 0.2s;
}

.user__list.open {
  display: block;
  transition: .2s visibility linear, .2s opacity linear;
  opacity: 1;
}

.user__list p {
  cursor: pointer;
  margin: 0;
  padding: 5px 20px;
}

.user__list p:hover {
  /* background: #86eb65; */
  background: #dcbcc5;
}

.user__list p.active {
  background: #444;
}

/* !_______________________________________________ */

.entry__status {
  grid-column: span 2;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* !______________________________________________ */
/* матрица */

.matrix {
  position: absolute;
  left: -20%;
  top: -20%;
  display: grid;
  justify-items: center;
  gap: 5px;
  background: #666;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  transform: scale(0);
  z-index: 5;
  transition: 0.4s;
    transform-origin: 20px 20px;
}

.matrix.open {
  transform: scale(1);
  transition: 0.4s;

}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #7272cd;
  box-shadow: inset .1rem .1rem .3rem #c8d0e7,
    inset -.1rem -.1rem .3rem #ffffff,
    .3rem .3rem .8rem #777,
    -.2rem -.2rem .5rem #aaa;
  cursor: pointer;
}

.matrix__item {
  display: block;
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset .1rem .1rem .3rem #c8d0e7,
    inset -.1rem -.1rem .3rem #ffffff,
    .3rem .3rem .8rem #777,
    -.2rem -.2rem .5rem #aaa;
}



/* !______________________________________________ */
/* матрица в модальном окне */
.matrix-window {
  height: 330px;
  width: 330px;
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 25px 20px 1fr 1fr;
}

.matrix-window__mark {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(25%, 25%);
}

.matrix-window__item {
  width: 130px;
  height: 130px;
}

/* !______________________________________________ */
/* матрица в карточке */

.matrix-card {
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 15px 1fr 1fr;
  height: 120px;
  width: 315px;
}

.matrix-card__item {
  width: 120px;
  height: 40px;
}

.mark.head_color {
  width: 25px;
  height: 25px;
  box-shadow: inset .1rem .1rem .3rem #c8d0e7,
    inset -.1rem -.1rem .3rem #ffffff,
    .1rem .1rem .2rem #777,
    -.1rem -.1rem .2rem #aaa;
}

.matrix-card__mark {
  width: 30px;
  height: 30px;
  grid-row: span 3;
}

.matrix__name_card {
  grid-column: span 2;
}

/* !______________________________________________ */
/* !______________________________________________ */

.matrix .matrix__label {
  color: #444;
}

.matrix__name {
  grid-column: span 3;
}

.matrix__x1 {
  grid-column-start: 2;
}

.matrix__y {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.matrix__x,
.matrix__y {
  font-size: 11px;
}

.matrix__radio {
  opacity: 0;
  z-index: 25;
  cursor: pointer;
}

.matrix__label,
.matrix__radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.matrix__label {
  padding: 5px;
  border-radius: 10px;
}

div[data-status="a"],
.matrix__status-a:checked~label,
.radio__status-a:checked~label {
  background: #b9121b;
  color: #fff;
}

div[data-status="b"],
.matrix__status-b:checked~label,
.radio__status-b:checked~label {
  background: #8bc34a;
  color: #fff;
}

div[data-status="c"],
.matrix__status-c:checked~label,
.radio__status-c:checked~label {
  background: #f2b705;
  color: #fff;
}

div[data-status="d"],
.matrix__status-d:checked~label,
.radio__status-d:checked~label {
  background: #7272cd;
  color: #fff;
}

.entry__check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  padding: 5px 40px;
  color: #444;
  font-weight: 600;
}

.check__container {
  display: flex;
  gap: 1em;
}

.check__background {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #aaa;
  background: #aaa;
  box-shadow: 0 2px 2px #444;
}

.check__box {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.check__icon {
  position: absolute;
  display: none;
  width: 10px;
  height: 15px;
  border: solid #444;
  border-radius: 3px;
  border-width: 0 4px 2px 0;
  transform: translateY(-50%);
  transform: rotate(45deg);
  top: 10%;
  left: 30%;
  z-index: 2;
}

.check__label {
  width: 100%;
  display: flex;
  align-items: center;
}

.check__box:checked~.check__icon {
  display: block;
}

.user__list_item.close {
  display: none;
}

.entry__button_container {
  display: flex;
  position: static;
}

.button.button__confirm_add,
.button.button__confirm_edit {
  display: none;
}

.button.button__confirm_add.open,
.button.button__confirm_edit.open {
  display: block;
}

/* !________конец блока модального окна для ввода и редакции данных */

/* !________Селекторы Карточки________________________________________ */

.card {
  width: 350px;
  height: 164px;
  padding: 8px;
  border-radius: 10px;
  margin: 0 auto;
  display: grid;
  row-gap: 5px;
  margin-bottom: 5px;
  color: #444;
  text-shadow: none;
  transform: scale(1);
  transition: .2s
}

.card.scale {
  transform: scale(1.05);
  transition: .2s;
  z-index: 10;
}

.card-todo {
  background-color: rgb(213, 232, 212);
  border: 2px solid rgb(153, 171, 149);
}

.card-progress {
  background-color: rgb(242, 245, 246);
  border: 2px solid rgb(215, 223, 226);
}

.card-done {
  background-color: rgb(188, 224, 231);
  border: 2px solid rgb(149, 188, 196);
}

.card__head,
.card__data,
.card__text {
  display: flex;
  justify-content: space-between;
}

.card__head {
  height: 25px;
}

.head_count {
  display: flex;
  align-items: center;
  gap: 5px;
}

.buttons__edit {
  margin-right: 5px;
}

.button-card {
  font-size: 12px;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}

.button-card:hover {
  background-color: rgb(205, 201, 201);
}

.text__btnCont {
  display: flex;
  gap: 8px;
}

.text__next-left {
  padding: 9px 5px;
  display: none;
  height: 30px;
}

.text__next-right {
  padding: 9px 5px;
  height: 30px;
}

.text__description {
  font-size: 18px;
  align-self: center;
  height: 70px;
  width: 270px;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset .1rem .1rem .3rem #c8d0e7,
    inset -.1rem -.1rem .3rem #ffffff;
}

.text__description::-webkit-scrollbar {
  width: 10px;
}

.text__description::-webkit-scrollbar-track {
  background: #b5aab6;
  border-radius: 20px;
}

.text__description::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #ffffff
}

.text__description,
.data__user {
  margin-left: 5px;
}

.data__time {
  margin-right: 5px;
}

.hide {
  display: none;

}