* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
img,
button,
input,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

$font_color_1: #ffffff;

$font_color_2: #444;

$color_1: #b5aab6;
$color_2: #666;
$color_3: #aaa;
$color_4: #dcbcc5;

$bg_element: linear-gradient(#b5aab6, #dcbcc5);

$bg_element_1: linear-gradient(#aaa, #777);

$bs_element_1: inset 0.2rem 0.2rem 0.5rem #777,
  inset -0.2rem -0.2rem 0.5rem #b5aab6, 0 2px 2px #666;

$bs_element_2: inset 0.1rem 0.1rem 0.3rem #c8d0e7,
  inset -0.1rem -0.1rem 0.3rem #ffffff, 0.3rem 0.3rem 0.8rem #777,
  -0.2rem -0.2rem 0.5rem #aaa;

$bs_element_3: inset 0.1rem 0.1rem 0.3rem #c8d0e7,
  inset -0.1rem -0.1rem 0.3rem #ffffff;

$bs_element_4: 0 2px 2px #444;

$bs_element_5: 0.3rem 0.3rem 0.8rem #777, -0.2rem -0.2rem 0.5rem #aaa;

$bs_btn_1: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
  inset -0.2rem -0.2rem 0.5rem #ffffff;

$bs_btn_2: 0.3rem 0.3rem 0.6rem #e4ebf5, -0.2rem -0.2rem 0.5rem #ffffff;

@mixin size($h, $w) {
  height: $h;
  width: $w;
}

body {
  background: radial-gradient(#eee, #668);
  @include size(100vh, 100vw);
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $font_color_1;
  position: relative;
}

/* !______________каркас_______________________ */
.wrapper {
  @include size(100vh, 80vw);
  padding: 20px;
  margin: 0 auto;
}

.header {
  @include size(15%, 100%);
  border: 3px solid $color_1;
  border-radius: 15px;
  text-shadow: 0 2px 2px $color_2;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: $bs_element_1;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__clock {
  @include size(70%, 150px);
  border-radius: 15px;
  font-size: 24px;
  box-shadow: $bs_element_4;
  text-shadow: 0 2px 2px $color_2;
  border-radius: 15px;
  border: 2px solid $color_1;
  padding: 15px;
  background: $bg_element;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__board {
  display: flex;
  gap: 20px;
  @include size(80%, 100%);
  border-radius: 15px;
  text-shadow: 0 2px 2px $color_2;
  border-radius: 15px;
  border: 3px solid $color_1;
  padding: 20px;
  box-shadow: $bs_element_1;
}

.column {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 3);
  border-radius: 15px;
  text-shadow: 0 2px 2px $color_2;
  gap: 15px;
}

.column__panel_wrapper {
  @include size(100%, 100%);
  background: $bg_element;
  border-radius: 15px;
  box-shadow: $bs_element_4;
  border: 2px solid $color_1;
  padding: 0 0;
  overflow: hidden;
}

.column__panel {
  @include size(100%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  padding: 15px;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: $color_1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(203, 202, 202);
    border-radius: 20px;
    border: 2px solid $color_3;
  }
}

.column__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 1.2em;
  span {
    display: block;
    height: 100%;
    font-weight: b;
  }
}

/* !  _______конец каркаса _______________________*/

.module {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: 0.4s;
}

.module__background {
  background: $color_2;
  position: fixed;
  left: 0;
  top: 0;
  @include size(100%, 100%);
  opacity: 0.7;
  z-index: 5;
}

/* !модальное окно для ввода и редакции данных */
.module__entry {
  &.open {
    display: block;
    transition: 1s;
    opacity: 1;
  }
}

.module__container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  gap: 1em;
  transform: translate(-50%, -50%);
  background: $bg_element;
  border-radius: 15px;
  box-shadow: $bs_element_4;
  text-shadow: 0 2px 2px $color_2;
  padding: 1em;
  z-index: 10;
}

.entry__container {
  @include size(20em, 40em);
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.entry__content,
.entry__title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: $font_color_1;
  background-color: $color_3;
  border-radius: 0.5em;
  padding: 0.5em;
  box-shadow: $bs_element_1;
  transition: 0.3s;
  border: 3px solid transparent;
}

@keyframes blink {
  50% {
    border-color: #a64e4e;
  }
}

.entry__content.error,
.entry__title.error,
.user__select.error {
  animation: blink 0.9s step-end infinite alternate;
}

.entry__title:focus,
.entry__content:focus {
  box-shadow: $bs_element_5;
  border: none;
}

.entry__content {
  grid-column: span 3;
}

.button {
  @include size(60px, 100%);
  cursor: pointer;
  border-radius: 0.5em;
  background: $bg_element_1;
  color: $font_color_2;
  font-weight: 600;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: $bs_btn_1;
  &:hover {
    box-shadow: $bs_btn_2;
  }
  &.button__confirm_add,
  &.button__confirm_edit {
    display: none;
    &.open {
      display: block;
    }
  }
  &.warning__button_ok,
  &.warning__button_cancel {
    @include size(40px, 100px);
  }
}

.entry__user {
  position: relative;
  transition: 0.3s;
}

.user__select_label {
  display: block;
  position: relative;
  @include size(100%, 100%);
  z-index: 2;
}

.user__select_style {
  position: absolute;
  display: block;
  @include size(20px, 20px);
  border: solid $color_2;
  border-radius: 3px;
  border-width: 0 3px 3px 0;
  transform: translateY(-50%);
  transform: rotate(45deg);
  top: 25%;
  right: 15px;
  z-index: 12;
  cursor: pointer;
  transition: 0.3s;
  &.open {
    border-width: 3px 0 0 3px;
    transition: 0.3s;
  }
}

.user__select {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $font_color_1;
  position: absolute;
  display: block;
  padding: 10px;
  @include size(50px, 100%);
  border-radius: 0.5em;
  background: $color_3;
  box-shadow: $bs_element_4;
  border: 3px solid transparent;
}

.user__list {
  display: none;
  top: 49px;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  max-height: 150px;
  background: $color_3;
  box-shadow: $bs_element_4;
  transition: 0.3s;
  &.open {
    display: block;
    transition: 0.3s visibility linear, 0.3s opacity linear;
    opacity: 1;
  }
  p {
    cursor: pointer;
    margin: 0;
    padding: 5px 20px;
    &:hover {
      background: $color_4;
    }
    &.active {
      background: $color_2;
    }
  }
}

/* !_______________________________________________ */

.entry__status {
  grid-column: span 2;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* !______________________________________________ */
/* матрица */

.matrix {
  position: absolute;
  left: -20%;
  top: -20%;
  display: grid;
  justify-items: center;
  gap: 5px;
  background: $color_2;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  transform: scale(0);
  z-index: 5;
  transition: 0.4s;
  transform-origin: 20px 20px;
  &.open {
    transform: scale(1);
    transition: 0.4s;
  }
}

.mark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include size(40px, 40px);
  border-radius: 50%;
  background: #7272cd;
  box-shadow: $bs_element_2;
  cursor: pointer;
}

.matrix__item {
  display: block;
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: $bs_element_2;
}

/* !______________________________________________ */
/* матрица в модальном окне */
.matrix-window {
  @include size(330px, 330px);
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 25px 20px 1fr 1fr;
}

.matrix-window__mark {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(25%, 25%);
}

.matrix-window__item {
  @include size(130px, 130px);
}

/* !______________________________________________ */
/* матрица в карточке */

.matrix-card {
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 15px 1fr 1fr;
  @include size(120px, 315px);
}

.matrix-card__item {
  @include size(40px,120px);
}

.mark.head_color {
  @include size(25px, 25px);
  box-shadow: $bs_element_2;
}

.matrix-card__mark {
  @include size(30px, 30px);
  grid-row: span 3;
}

.matrix__name_card {
  grid-column: span 2;
}

/* !______________________________________________ */
/* !______________________________________________ */

.matrix .matrix__label {
  color: $font_color_2;
}

.matrix__name {
  grid-column: span 3;
}

.matrix__x1 {
  grid-column-start: 2;
}

.matrix__y {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.matrix__x,
.matrix__y {
  font-size: 11px;
}

.matrix__radio {
  opacity: 0;
  z-index: 25;
  cursor: pointer;
}

.matrix__label,
.matrix__radio {
  position: absolute;
  top: 0;
  left: 0;
  @include size(100%, 100%);
}

.matrix__label {
  padding: 5px;
  border-radius: 10px;
}

div[data-status="a"],
.matrix__status-a:checked ~ label,
.radio__status-a:checked ~ label {
  background: #b9121b;
  color: $font_color_1;
}

div[data-status="b"],
.matrix__status-b:checked ~ label,
.radio__status-b:checked ~ label {
  background: #8bc34a;
  color: $font_color_1;
}

div[data-status="c"],
.matrix__status-c:checked ~ label,
.radio__status-c:checked ~ label {
  background: #f2b705;
  color: $font_color_1;
}

div[data-status="d"],
.matrix__status-d:checked ~ label,
.radio__status-d:checked ~ label {
  background: #7272cd;
  color: $font_color_1;
}

.entry__check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
  padding: 5px 40px;
  color: $font_color_2;
  font-weight: 600;
}

.check__container {
  display: flex;
  gap: 1em;
}

.check__background {
  @include size(25px, 25px);
  display: block;
  position: relative;
  border-radius: 5px;
  background: $color_3;
  box-shadow: $bs_element_4;
}

.check__box {
  opacity: 0;
  @include size(100%, 100%);
  z-index: 5;
}

.check__icon {
  position: absolute;
  display: none;
  @include size(15px, 10px);
  border: solid $color_2;
  border-radius: 3px;
  border-width: 0 4px 2px 0;
  transform: translateY(-50%);
  transform: rotate(45deg);
  top: 10%;
  left: 30%;
  z-index: 2;
}

.check__label {
  width: 100%;
  display: flex;
  align-items: center;
}

.check__box:checked ~ .check__icon {
  display: block;
}

.user__list_item {
  &.close {
    display: none;
  }
}

.entry__button_container {
  display: flex;
  position: static;
}

/* !________конец блока модального окна для ввода и редакции данных */

/* !________Селекторы Карточки________________________________________ */

.card {
  @include size(164px, 100%);
  padding: 8px;
  border-radius: 10px;
  margin: 0 auto;
  display: grid;
  row-gap: 5px;
  margin-bottom: 5px;
  color: $font_color_2;
  text-shadow: none;
  transform: scale(1);
  transition: 0.4s;
  .scale {
    transform: scale(1.05);
    transition: 0.4s;
    z-index: 10;
  }
}

.card-todo {
  background-color: rgb(213, 232, 212);
  border: 2px solid rgb(153, 171, 149);
}

.card-progress {
  background-color: rgb(242, 245, 246);
  border: 2px solid rgb(215, 223, 226);
}

.card-done {
  background-color: rgb(188, 224, 231);
  border: 2px solid rgb(149, 188, 196);
}

.card__head,
.card__data,
.card__text {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.head__title {
  font-weight: bold;
}

.card__head {
  height: 25px;
}

.head_count {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons__edit {
  margin-right: 5px;
}

.button-card {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgb(203, 202, 202);
  border: none;
  color: $font_color_2;
  font-weight: 600;
  font-size: 13px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: $bs_element_4;
  &:hover {
    background: rgb(151, 146, 146);
  }
}

.text__btnCont {
  display: flex;
  gap: 9px;
  align-items: center;
}

.text__next-left {
  padding: 9px 5px;
  display: none;
  height: 35px;
  text-align: center;
}

.text__next-right {
  padding: 9px 5px;
  height: 35px;
  text-align: center;
}

.text__description {
  font-size: 18px;
  align-self: center;
  @include size(80px, 100%);
  word-wrap: break-word;
  overflow-y: auto;
  padding: 3px;
  border-radius: 3px;
  box-shadow: $bs_element_3;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $color_2;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $font_color_1;
    border-radius: 20px;
    border: 3px solid #ffffff;
  }
}

.text__description,
.data__user {
  margin-left: 5px;
}

.data__time {
  margin-right: 5px;
}

.hide {
  display: none;
}

/* !_______________________________________ */
/* !_______________________________________ */
.module__warning.open {
  display: block;
  transition: 0.4s;
  opacity: 1;
}

.warning__text {
  color: $font_color_2;
  display: block;
  text-align: center;
}

.warning__container {
  font-size: 18px;
  @include size(15em, 30em);
  grid-template-rows: 1fr 40px;
  padding: 30px;
  align-items: center;
}

.button__container {
  display: flex;
  gap: 20px;
  justify-content: end;
}
